{% extends "base.html" %}
{% block title %}Djangoソーシャル認証デモ{% endblock %}
{% block content %}
<div class="container-fluid home">
  <h1>HOMEサンプル画面</h1>
    <div class="row flex-nowrap">
      <div class="bg-light m-3 p-2">
        <h4>ログオン情報</h4>
        {% if user.is_authenticated %}
        <h5>
          ログオンユーザ名： {{ user.get_username }} さん<br>
          メールアドレス： {{ user.email }}<br>
          セッション開始時刻: {{ user.last_login }}
        </h5>
        {% endif %}
      </div>
    </div>
</div>
{% endblock %}