{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Djangoソーシャル認証デモ</title>
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
	  <div class="box">
	    {% block content %}
	    {% endblock %}
	  </div>
	</div>
  </div>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
</body>
</html>