{% extends "./base.html" %}



{% block head_title %}ユーザ登録画面{% endblock %}

{% block content %}
<h1>ユーザ登録画面</h1>

<p>既にアカウントを持っている方は <a href="{{ login_url }}">ここから</a>サインインしてください.</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}

  {% for field in form %}

 
   <div class="form-group field">
   <label for="{{ field.id_for_label }}">{{field.label}}</label>
   {{ field }}
   {% if field.errors %}
   <div class="alert-message">
   {{ field.errors }}
  </div>
  {% endif %}
 </div>

   {% endfor %}
  

   <!-- アラートメッセージの表示-->

   {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <button type="submit" class="btn btn-primary">登録</button>
</form>

{% endblock %}
